<!DOCTYPE html>
<html>
<head>
    <title>Charts</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/userCSS.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" id="line" onclick="getData()">Charts</a></li>
                <li><a href="#" id="refreshCharts" onclick="refreshData()">Download data</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">

    </div>
</div>

<div id="parentDiv">

</div>

<div id="chartContainerUSD" style="height: 300px; width: 100%;"></div>
<div id="chartContainerEUR" style="height: 300px; width: 100%;"></div>
<div id="chartContainerCHF" style="height: 300px; width: 100%;"></div>


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
    function refreshData(){
        $(document).ready(function(){
                console.log('refreshData...');
                const URL = 'http://localhost:8080/update'
                $.get(URL,function(data){
                });
            }
        );
    }
</script>

<script>

    function getData(){
        const URL = 'http://localhost:8080/test'

        $.ajax({
            url: URL,
            crossDomain:true,
            success: function(data){
                printChart(data);
            },
            dataType: 'json'
        });
    }

    function drawLinePerCurrency(json) {
        return {
            y: json.mid,
            x: new Date(json.date)
        }
    }

    function initOptions(data, ctype) {
        return {
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: "Currency chart" + ctype
            },
            axisY: {
                includeZero: false
            },
            data: data
        };
    }

    function printChart(jsonData) {
        var data = [];
        var dataSeries = {type: "spline"};
        var dataPointsEUR = [];
        var dataPointsUSD = [];
        var dataPointsCHF = [];

        for (var i = 0; i < jsonData.length; i += 1) {
            if (jsonData[i].code === 'EUR') {
                dataPointsEUR.push(drawLinePerCurrency(jsonData[i]));
            } else if (jsonData[i].code === 'USD') {
                dataPointsUSD.push(drawLinePerCurrency(jsonData[i]));
            } else if (jsonData[i].code === 'CHF') {
                dataPointsCHF.push(drawLinePerCurrency(jsonData[i]));
            }
        }
        dataSeries.dataPoints = dataPointsEUR;
        data.push(dataSeries);
        $("#chartContainerEUR").CanvasJSChart(initOptions(data,' EUR'));

        dataSeries.dataPoints = dataPointsUSD;
        data.push(dataSeries);
        $("#chartContainerUSD").CanvasJSChart(initOptions(data,' USD'));

        dataSeries.dataPoints = dataPointsCHF;
        data.push(dataSeries);
        $("#chartContainerCHF").CanvasJSChart(initOptions(data,' CHF'));

    }

</script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

</body>
</html>